{% extends 'layout.html.twig' %}

{% block title %}Bike Shop - Shopping Basket{% endblock %}

{% block header %}Your Shopping Basket{% endblock %}

{% block content %}

        <section class=" py-16">
        <div class="container mx-auto text-center">
            <h2>Confirmation</h2>
            <p>We received your order. Thank you for shopping with us</p>
        </div>
    </section>
{% endblock %}
